# Database Configuration
# format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://user:password@placeholder-host:3306/placeholder_db?connection_limit=20&pool_timeout=10000"

# NextAuth Configuration
NEXTAUTH_URL="https://your-project.vercel.app"
NEXTAUTH_SECRET="your-32-byte-secret-key-goes-here"

# Media Upload Storage Path
UPLOAD_DIR="./public/uploads"
